.App {
  text-align: center;
  display: flex;
  justify-content: center; 
  gap: 70px;  
}

body{
  margin: 0;
  height: 100vh;
  background-color: rgb(61, 63, 185);
}
.info{
  display: flex;
  align-items: center;
  flex-direction: column;
}

header{
  font-size: 100px;
}


